@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300&display=swap');

* {
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  min-height: 100vh;
  background: url('/assets/images/background/bg_Proctors_office.jpeg') no-repeat;
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
}

label.logo {
  background: url('/assets/logo/East-west-university-Logo.svg') no-repeat;
  padding: 0 100px;
  width: 15%; 
  padding-top: 6.5%;
}


nav {
  background-color: rgba(255, 255, 255, 0.739);
  height: 100px;
  width: 100%;
  position: fixed; /* Fixed positioning */
  top: 0; /* Stick to the top of the viewport */
  z-index: 1000; /* Ensure navbar is on top of other content */
}

#navLogo{
  height: 70px;
  margin-top: 10px;
  margin-left: 10px;
  padding-left: 20px;
  
}

nav ul {
  float: right;
  margin-right: 50px;
}

nav ul li {
  display: inline-block;
  line-height: 100px;
  margin: 0 15px;
}

nav ul li a {
  font-size: 17px;
  color: #1C4370;
  font-weight: 500;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
}

a.active,
a:hover {

  transition: 0.5s;
}

.checkBtn {
  color: #1c4370;;
  font-size: 30px;
  line-height: 100px;
  float: right;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}

#check {
  display: none;
}

@media (max-width: 956px) {
  label.logo {
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a {
    font-size: 16px;
  }
}

@media (max-width: 858px) {
  .checkBtn {
    display: block;
  }
  ul {
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #1c4370;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    top: 100px;
    text-align: center;
    left: -100%;
    transition: all 0.5s;
  }
  nav ul li {
    display: block;
    margin: 50px;
    line-height: 30px;
  }
  nav ul li a {
    font-size: 20px;
    color: #ffffff;
    font-weight: 300;
}
a:hover,a.active{
  background: none;
  color: #1c4370;
  
}
#check:checked ~ ul{
    left: 0;
}
}



footer{
  position: relative;
  width: 100%;
  background: #1c4370;
  min-height: 150px;
  padding: 20px 50px;
  /* display: flex; */
  text-align: center;
}

#footerLogo{
  height: 80px;
  margin-bottom: 15px;
}

.footerContents{
  display: grid;
  width: 100%;
  grid-template-columns: repeat(auto-fit,minmax(121px,auto));
  color: rgb(255, 255, 255);
  font-weight: 200;
  gap:9.5rem;
  }

#fooetLink{
    font-size: large;
    padding-right: 25px;
}

.footerContent {
  text-align: left; /* Adjust alignment of individual content */
}

.footerContent p {
  margin: 0; /* Remove default margin on paragraphs */
}

.contact-info {
  margin-top: 10px;
}

.phone, .email {
  display: block;
  margin: 5px 0;
}

.phone i, .email i {
  margin-right: 5px;
}

.icon a {
  margin-right: 10px; /* Add space between social media icons */
}


footer .wave {
  position: absolute;
  top: -100px;
  left: 0;
  width: 100%;
  height: 100px;
  background: url('/assets/images/image.png');
  background-size: 1000px 100px;
}

footer .wave#wave1{
  z-index: 999;
  opacity: 1;
  bottom: 0;
  animation: animateWave01 3s linear infinite;
}

footer .wave#wave2{
  z-index: 998;
  opacity: 0.5;
  bottom: 10px;
  animation: animateWave02 4s linear infinite;
}

footer .wave#wave3{
  z-index: 999;
  opacity: 0.2;
  bottom: 15px;
  animation: animateWave01 3s linear infinite;
}

footer .wave#wave4{
  z-index: 998;
  opacity: 0.7;
  bottom: 20px;
  animation: animateWave02 3s linear infinite;
}


@keyframes animateWave01 {
  0%
  {
    background-position-x: 1000px;
  }
  100%
  {
    background-position-x: 0px;
  }
  
}

@keyframes animateWave02 {
  0%
  {
    background-position-x: 0;
  }
  100%
  {
    background-position-x: 1000px;
  }
  
}



